@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file */
.glowing-border {
    --border-glow-color: 228, 14, 228; /* RGB format of Tailwind's blue-500 */
    border: 2px solid rgba(var(--border-glow-color), 0.35); /* Adjust border color and opacity */
    box-shadow: 
      0 0 10px rgba(var(--border-glow-color), 0.3),
      0 0 20px rgba(var(--border-glow-color), 0.4),
      0 0 30px rgba(var(--border-glow-color), 0.5),
      0 0 40px rgba(var(--border-glow-color), 0.6),
      0 0 40px rgba(var(--border-glow-color), 0.7),
      0 0 55px rgba(var(--border-glow-color), 0.6);
  }
  html,
  body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

/* Add this CSS to your global stylesheet or component-specific styles */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

  